.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}

.tabs {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  width: 25%;
}

.tabs-content {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  width: 60%;
  padding: 5%;
  font-family: sans-serif;
}

.tabs div:not(#div1),
.tabs-content div:not(#div1) {
  display: none;
}

a.my-link {
  display: inline-block;
  color: #000;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  border-bottom: #ccc solid 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  transition: 300ms;
}

a.my-link.active,
a.my-link:hover {
  color: #C53D29;
  text-decoration: none;
}